.container{
    padding: 6rem 6rem;
}
span{
    color: #FA6207;
}

.sponsore,.special,.journey,.commitment{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
    position: relative;
}
 .special::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 43%;
    width: 100%;
    height: 100%;
    background: url("../assets/orangedot2.png") no-repeat center;
    background-size:contain;
    z-index: -10;
    opacity: 0.5;
    filter: blur(5px);
    scale: 3;  
}

.commitment::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 43%;
    width: 100%;
    height: 100%;
    background: url("../assets/orangedot2.png") no-repeat center;
    background-size:contain;
    z-index: -10;
    opacity: 0.5;
    filter: blur(5px);
    scale: 3;  
  } 

.text{
    flex-direction: column;
    width: 50%;
    text-align: left;
}
.text h1{
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 30px;
}
.text p{
    font-size: 1rem;
    font-weight: 400;
}

.text2{
    flex-direction: column;
    width: 50%;
    text-align: right;
}
.text2 h1{
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 30px;
}
.text2 p{
    font-size: 1rem;
    font-weight: 400;
}

.imgcontainer1{
    width: 445px;
    height: 340px;
}
.imgcontainer1 img{
    width: 100%;
    height: 100%;
}

.imgcontainer2{
    width: 445px;
    height: 300px;
}
.imgcontainer2 img{
    width: 100%;
    height: 100%;
}

.imgcontainer3{
    width: 445px;
    height: 325px;
}
.imgcontainer3 img{
    width: 100%;
    height: 100%;
}

.imgcontainer4{
    width: 445px;
    height: 327px;
}
.imgcontainer4 img{
    width: 100%;
    height: 100%;
}


.callToAction {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    margin-right: 5px;

}
.callToAction img{
    width: 35px;
    height:30px;
    margin-right: 7px;
}
.callToAction p{
    font-weight: bold;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.callToAction2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-right: 5px;
}
.callToAction2 img{
    width: 35px;
    height:30px;
    margin-right: 7px;
}
.callToAction2 p{
    font-weight: bold;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.dots{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}
.dots img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.voices{
    flex-direction: column;
    width: 40%;
    text-align: left;
    margin-bottom: 50px;
}

.voices h1{
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 30px;
}
.voices p{
    font-size: 1rem;
}


@media(max-width:768px){

    .container{
        padding: 2rem 0rem;
        width: 100%;
    }
    .sponsore,.special,.journey,.commitment{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sponsore::before {
        content: "";
        position: absolute;
        top: -100px;
        left: -30%;
        width: 45%;
        height: 60%;
        background: url("../assets/orangedot2.png") no-repeat center ;
        background-size:contain;
        z-index: -10;
        opacity: 0.8;
        filter: blur(0px);
        scale: 2.45;
        transform: rotate(270deg);
    } 

    .special::before {
        content: "";
        position: absolute;
        top: 200px;
        left: -8%;
        width: 40%;
        height: 100%;
        background: url("../assets/orangedot2.png") no-repeat center ;
        background-size:contain;
        z-index: -10;
        opacity: 0.7;
        filter: blur(5px);
        scale: 3;
        transform: rotate(-180deg);
      } 
      .commitment::before {
        display: none;
      }

    
    .text,.text2{
        order: 1;
        margin-bottom: 20px;
    }
    

    .imgcontainer1,.imgcontainer2,.imgcontainer3,.imgcontainer4{
        order: -1;
        margin-bottom: 30px;
    }
    .voices{
        display: flex;
        flex-direction: column;
        justify-content:center ;
        align-items: center;
        width: 95%;
    }
    .voices h1,.voices p{
        width: 80%;
    }
}

@media(max-width:571px){

    .text,.text2{
        width: 70%;
    }

    .sponsore::before {
        content: "";
        position: absolute;
        top: -200px;
        left: -15%;
        width: 45%;
        height: 40%;
        background: url("../assets/orangedot2.png") no-repeat center ;
        background-size:contain;
        z-index: -10;
        opacity: 0.8;
        filter: blur(0px);
        scale: 2.7;
        transform: rotate(270deg);
    } 

    .special::before {
        content: "";
        position: absolute;
        top: 150px;
        left: -8%;
        width: 30%;
        height: 100%;
        background: url("../assets/orangedot2.png") no-repeat center ;
        background-size:contain;
        z-index: -10;
        opacity: 0.6;
        filter: blur(5px);
        scale: 5;
        transform: rotate(-180deg);
        
      } 


    .imgcontainer1{
        width: 300px;
        height: 245px;
    }
    
    .imgcontainer2 {
        width: 300px;
        height: 210px;
    }
    .imgcontainer3{
        width: 300px;
        height: 240px;
    }
    .imgcontainer4{
        width: 330px;
        height: 250px;
    } 
}

@media(max-width:429px){
    .sponsore::before {
        content: "";
        position: absolute;
        top: -200px;
        left: -20%;
        width: 45%;
        height: 40%;
        background: url("../assets/orangedot2.png") no-repeat center ;
        background-size:contain;
        z-index: -10;
        opacity: 0.8;
        filter: blur(0px);
        scale: 2;
        transform: rotate(270deg);
    } 
}

@media(max-width:339px){

    .sponsore::before {
        content: "";
        position: absolute;
        top: -200px;
        left: -20%;
        width: 45%;
        height: 40%;
        background: url("../assets/orangedot2.png") no-repeat center ;
        background-size:contain;
        z-index: -10;
        opacity: 0.8;
        filter: blur(0px);
        scale: 1.8;
        transform: rotate(270deg);
    } 

    .text,.text2{
        width: 80%;
    }

    .imgcontainer1{
        width: 300px;
        height: 230px;
    }

    .imgcontainer2 {
        width: 330px;
        height: 225px;
    }
    .imgcontainer3{
        width: 300px;
        height: 225px;
    }
    .imgcontainer4{
        width: 300px;
        height: 225px;
    } 
}


